<div class="single-product-wrap">
	<div class="product-image">
		<a href="/web/single-product/5">
			<img src="https://cdn.tgdd.vn/Products/Images/42/217287/oppo-a91-trang-400x460-400x460.png" alt="Li's Product Image">
		</a>
		<span class="sticker">New</span>
	</div>
	<div class="product_desc">
		<div class="product_desc_info">
			<div class="product-review">
				<h5 class="manufacturer">
					<a href="shop-left-sidebar.html">OPPO</a>
				</h5>
				<div class="rating-box">
					<ul class="rating">
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li class="no-star"><i class="fa fa-star-o"></i></li>
						<li class="no-star"><i class="fa fa-star-o"></i></li>
					</ul>
				</div>
			</div>
			<h4><a class="product_name" href="/web/single-product/products.id_product">OPPO A91</a></h4>
			<div class="price-box">
				<span class="new-price">8000000.0VND</span>
			</div>
		</div>
		<div class="add-actions">
			<ul class="add-actions-link">
				<li class="add-cart active"><a href="#">Add to cart</a></li>
				<li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
				<li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
			</ul>
		</div>
	</div>
</div>






















'<tr>' +
	'<td scope="row" class="id-product"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].id_product +'</span></td>' + 
	'<td scope="row" class="id-product"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].id_product +'</textarea></td>' + 

	'<td scope="row" class="id-product"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].type +'</span></td>' +
	'<td scope="row" class="id-product"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].type +'</textarea></td>' +

	'<td class="name"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].name + '</span></td>' +
	'<td class="name"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].name + '</textarea></td>' +

	'<td class="id-promotion"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].id_promotion + '</span></td>' +
	'<td class="id-promotion"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].id_promotion + '</textarea></td>' +

	'<td class="inventory"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].inventory + '</span></td>' +
	'<td class="inventory"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].inventory + '</textarea></td>' +

	'<td class="producer"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].producer + '</span></td>' +
	'<td class="producer"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].producer + '</textarea></td>' +

	'<td class="ram"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].ram + '</span></td>' +
	'<td class="ram"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].ram + '</textarea></td>' +

	'<td class="cpu"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].cpu + '</span></td>' +
	'<td class="cpu"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].cpu + '</textarea></td>' +

	'<td class="monitor"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].monitor + '</span></td>' +
	'<td class="monitor"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].monitor + '</textarea></td>' +

	'<td class="system"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].system + '</span></td>' +
	'<td class="system"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].system + '</textarea></td>' +

	'<td class="color"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].color + '</span></td>' +
	'<td class="color"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].color + '</textarea></td>' +

	'<td class="rom"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].rom + '</span></td>' +
	'<td class="rom"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].rom + '</textarea></td>' +

	'<td class="font-camera"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].font_camera + '</span></td>' +
	'<td class="font-camera"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].font_camera + '</textarea></td>' +
	
	'<td class="back-camera"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].back_camera + '</span></td>' +
	'<td class="back-camera"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].back_camera + '</textarea></td>' +

	'<td class="battery"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].battery + '</span></td>' +
	'<td class="battery"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].battery + '</textarea></td>' +

	'<td class="image"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].image + '</span></td>' +
	'<td class="image"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].image + '</textarea></td>' +

	'<td class="sell-quantity"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].sell_quantity + '</span></td>' +
	'<td class="sell-quantity"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].sell_quantity + '</textarea></td>' +

	'<td class="description"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].description + '</span></td>' +
	'<td class="description"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].description + '</textarea></td>' +

	'<td class="rate"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].rate + '</span></td>' +
	'<td class="rate"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].rate + '</textarea></td>' +

	'<td class="entry-price"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].entry_price + '</span></td>' +
	'<td class="entry-price"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].entry_price + '</textarea></td>' +

	'<td class="price"><span class=" row-id-' + lstP[i].id_product + ' ">'+ lstP[i].price + '</span></td>' +
	'<td class="price"><textarea class="d-none row-id-' + lstP[i].id_product + ' ">'+ lstP[i].price + '</textarea></td>' +

	'<td class=""> <input onclick="CrudEedit(' + lstP[i].id_product + ');" type="button" value="Chỉnh sửa" /> <input style="margin-left: 10px;" onclick="CrudDelete(' + lstP[i].id_product + ');" type="button" value="Xoá" /></td>' +
	'</tr>'
	'<li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>'+